@model GrafEtaViewModel

<h1>@ViewData["Title"]
<div class="col-md-6">
  <canvas id="myChart"</canvas>
</div>

<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>

<script>
  const ctx = document.getElementById('myChart');

  new Chart(ctx, {
  type: 'bar',
  data: {
    labels: ["1-18","18-30","30-60","60+"],
    datasets: [{
      label: '% di età',
      data: [@string.Join(",", Model.Eta)],
      borderWidth: 1
    }]
  },
  options: {
    
    legend: {
      display: true, // Imposta su false se vuoi nascondere la legenda
      position: 'top', // Puoi scegliere tra 'top', 'bottom', 'left', 'right'
      labels: {
        fontColor: 'black', // Colore del testo della legenda
        fontSize: 12 // Dimensione del testo della legenda
      }
    }
  }
});

</script>
 