@model PersonaCreateInputModel
<style>
        body {
            font-family: Arial, sans-serif;
            margin: 20px;
        }

        label {
            display: block;
            margin-bottom: 5px;
        }

        input {
            width: 100%;
            padding: 8px;
            margin-bottom: 10px;
            box-sizing: border-box;
        }

       
    </style>

<h1>@ViewData["Title"]</h1>
    <form method="post">
        <label for="nome">Nome:</label>
        <input type="text" asp-for="Nome" required>

        <label for="cognome">Cognome:</label>
        <input type="text" asp-for="Cognome" required>

        <label for="data_nascita">Data di Nascita:</label>
        <input type="date" asp-for="Data_di_nascita" required>

        <label for="email">Email:</label>
        <input type="email" asp-for="Email" required>

        <label for="telefono">Telefono:</label>
        <input type="telefono" asp-for="Telefono" required>

        <label for="num_preferito">Numero preferito:</label>
        <input type="number" min="0" max="100" asp-for="Numero_preferito" required>

        <button class="btn btn-outline-primary" type="submit">Invia</button>

    </form>
