@model PersonaModificaInputModel
<style>
        body {
            font-family: Arial, sans-serif;
            margin: 20px;
        }

        label {
            display: block;
            margin-bottom: 5px;
        }

        input {
            width: 100%;
            padding: 8px;
            margin-bottom: 10px;
            box-sizing: border-box;
        }

       
</style>

<h1>@ViewData["Title"]</h1>
    <form method="post">
        <input type="hidden" asp-for="PersonaID">
        
        <input type="hidden" asp-for="Nome" required>

        <input type="hidden" asp-for="Cognome" required>

        <label for="data_nascita">Data di Nascita:</label>
        <input type="date" asp-for="Data_di_nascita" required>

        <label for="email">Email:</label>
        <input type="email" asp-for="Email" required>

        <label for="telefono">Telefono:</label>
        <input type="telefono" asp-for="Telefono" required>

        <label for="num_preferito">Numero preferito:</label>
        <input type="number" min="0" max="99" asp-for="Numero_preferito" required>

        <button class="btn btn-outline-primary" type="submit">Invia</button>
        <button class="btn btn-danger btn-lg ml-3" type="button" data-toggle="modal" data-target="#delete-modal"><i class="fas fa-trash-alt"></i></button>

    </form>
    <form method="post" asp-action="Delete" asp-route-id="@Model.PersonaID">
        <input type="hidden" asp-for="PersonaID">
        <div id="delete-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="delete-modal-title" aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="delete-modal-title">Conferma eliminazione</h5>
                        <button class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <p>Stai per eliminare la persona. Confermi l'eliminazione?</p>
                    </div>
                    <div class="modal-footer justify-content-between">
                        <button class="btn btn-light" type="button" data-dismiss="modal">Annulla</button>
                        <button type="submit" class="btn btn-danger">Conferma</button>
                    </div>
                </div>
            </div>
        </div>
    </form>

    <script>
        // Impostare la data massima al valore corrente
        var oggi = new Date().toISOString().split('T')[0];
        document.getElementById('Data_di_nascita').setAttribute('max', oggi);
    </script>