@model PersonaModificaInputModel
<style>
        body {
            font-family: Arial, sans-serif;
            margin: 20px;
        }

        label {
            display: block;
            margin-bottom: 5px;
        }

        input {
            width: 100%;
            padding: 8px;
            margin-bottom: 10px;
            box-sizing: border-box;
        }

       
</style>

<h1>@ViewData["Title"]</h1>
    <form method="post">
        <input type="hidden" asp-for="PersonaID">
        
        <label for="nome">Nome:</label>
        <input type="text" asp-for="Nome" required>

        <label for="cognome">Cognome:</label>
        <input type="text" asp-for="Cognome" required>

        <label for="data_nascita">Data di Nascita:</label>
        <input type="date" asp-for="Data_di_nascita" required>

        <label for="email">Email:</label>
        <input type="email" asp-for="Email" required>

        <label for="telefono">Telefono:</label>
        <input type="telefono" asp-for="Telefono" required>

        <button class="btn btn-outline-primary" type="submit">Invia</button>
        <button class="btn btn-danger btn-lg ml-3" type="submit" asp-action="Delete" asp-route-id="@Model.PersonaID">🗑<i class="fas fa-trash-alt"></i></button>

    </form>
